html {
    font-family: 'Source Sans 3', sans-serif;
    background-color: rgb(241, 255, 255);
}

p {
    font-size: 18px;
}

@media only screen and (max-width: 916px) {
    .cell-two {
        display: none;
    }
}

#logo {
    width: 100px;
    display: block;
    margin: auto;
}

header {
    height: 150px;
}

nav {
    display: block;
    width: 190px;
    margin: auto;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-size: 18px;
    text-align: center;
}

table {
    width: 100%;
}

td {
    width: 50%;
    height: 400px;
}

.item-div {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.item-image {
    width: 35%;
    height: 300px;
    border-radius: 30px;
}

.item-textarea {
    background-color: white;
    border: 1px solid black;
    border-radius:  20px;
    margin-left: 10px;
    width: 400px;
    height: 270px;
    padding: 10px;
}

.item-textarea h3 {
    text-align: center;
}

form h3 {
    text-align: center;
}

form input, form textarea {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

form #user-name, form #email {
    height: 30px;
    width: 478px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}

form #flower-name {
    height: 150px;
    width: 478px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

form #submit-button {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    background-color: blue;
    width: 100px;
    margin: auto;
    margin-top: 25px;
    display: block;
}

#footer h3 {
    text-align: center;
}

footer p {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top:  20px;
    margin-bottom: 0;
}


#footer-row {
    margin-bottom: 0;
}